{% load endless %}
{% load thumbnail %}
{% paginate pins %}

<div class="pin">
<a href="">
	<div style="width:198px; text-align: center; padding: 50px 0 50px 0;"><span style="font-family: impact; font-size: 24px;">Create Pin</span></div> 	
	</div>
</a>

{% for pin in pins %}
<div class="pin">
{% thumbnail pin.image "198" as image %} 
	<a href="{% url 'pinboard:pin_details' pin.id %}" style="cursor: -webkit-zoom-in; cursor: -moz-zoom-in;"><img src="{{ image.url  }}" class="pin-image" border=0 /></a>
	{% endthumbnail %}
	<hr>
 	<div class="description">
   		{{ pin.description|linebreaks }}
	</div>
	<hr>
    <div class="user">
        <span style="font-weight: bold">{{ pin.created_by.username }}</span><br> {{ pin.pub_date|date:"M d Y" }}<br/>
        <span class="board-name">{{ pin.board.name }}</span>
    </div>
	<hr>
	<div class="pin_btn">
		<button class="btn btn-sm">Pin</button>
	</div>
</div>
{% endfor %}
{% show_more %}
