{% load thumbnail %}
{% load gravatar %}
{% load endless %}

{% block extrascripts  %}
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
	<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

    <script>
	$(window).load(function(){

		var $container = $('.pin-head');
		$container.masonry({
			itemSelector: '.pin'
		});

		$('.pin').mouseover(function() {
			$(this).find('.pin_btn').css('visibility', 'visible');
		});

		$('.pin').mouseout(function() {
			$(this).find('.pin_btn').css('visibility', 'hidden');
		});

		$.endlessPaginate({
			paginateOnScroll: true,
			onCompleted: function(){
				var $container = $('.pin-head');
				$container.masonry({
					itemSelector: '.pin'
				});
		
				$('.pin').mouseover(function() {
					$(this).find('.pin_btn').css('visibility', 'visible');
				});

				$('.pin').mouseout(function() {
					$(this).find('.pin_btn').css('visibility', 'hidden');
				});
			}
		});
	});
	</script>
{% endblock %}

{% paginate  pins %}
{% for pin in pins %}
	<div class="pin">
		{% thumbnail pin.image "198" as image %} 
		<a href="{% url 'pinboard:pin_details' pin.id %}" style="cursor: -webkit-zoom-in; cursor: -moz-zoom-in;"><img src="{{ image.url  }}" class="pin-image" border=0 /></a>
	{% endthumbnail %}
		<hr>
 		<div class="description">
   			{{ pin.description|linebreaks }}
		</div>
		<hr>
    	<div class="user clearfix">
			<div class="gravatar pull-left" style="margin-right: 5px;">
				<img src="{% gravatar_for_email pin.created_by.email %}" height="40" />
			</div>
			<div style="padding: 11px 0 0 10px;">
				<span style="font-weight: bold">{{ pin.created_by.username }}</span><br> {{ pin.pub_date|date:"M d Y" }}<br/>
				<span class="board-name">{{ pin.board.name }}</span>
			</div>
    	</div>
		<hr>
		<div class="pin_btn">
			<a href="{% url 'pinboard:pin_it' pin.id %}" class="btn btn-sm btn-primary">Pin</a>
		</div>
	</div>
{% endfor %}
{% show_more %}
